<div class="jumbotron">
  <div class="container">
    <div class="row"> 
      <div class="col-xs-12 col-sm-3 col-md-3">
        <%= image_tag(author.avatar.url, class: 'author_avatar ') %> 
      </div> 
      <div class="col-xs-12 col-sm-9 col-md-9">
        <h3><%= author.name %></h3>
        <h5>
          <a class="title" href=""><i class="fa fa-envelope" aria-hidden="true"></i></a> |
          <a class="title" href="<%= author.github %>"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a class="title" href="<%= author.linkedin %>"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a class="title" href="<%= author.twitter %>"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a class="title" href="<%= author.facebook %>"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a class="title" href="<%= author.google %>"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        </h5>
        <hr>
        <p><%= author.bio %></p>
      </div> 
    </div>
  </div>
</div>