<div class="form-group">
  <%= form_for(post, :html => {:class => 'new_post'}) do |f| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <br>

    <div class="field">
      <%= f.label :header %>
      <%= f.text_area :header, class: 'form-control', rows: 2 %>
    </div>

    <br>

    <div class="field">
      <%= f.label :image %>
      <br>
      <%= f.file_field :image %>
    </div>

    <br>

    <div class="field">
      <%= f.label :category %>
      <%= f.select :category, options_for_select(post.categories), {} ,{:class => "form-control"} %>
    </div>

    <br>

    <div class="field">
      <%= f.label :topics %>
      <%= f.text_field :topics, class: 'form-control', id: "topics" %>
    </div>

    <br>

    <button type="button" id="add_topic" class="btn btn-primary" style="float:left;margin-right: 10px">Add</button>
    <div id="mylabels">
    </div>
    

    <br><br>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control', rows: 15, id: "editor" %>
    </div>

    <br>

    <button type="button" id="add_topic" onclick="submit_post()" class="btn btn-primary">Crear</button>

  <% end %>
</div>

<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
</script>
