<div class="col-xs-12 col-sm-3 col-md-3">
  <%= link_to image_tag(post.image.url, class: "img-responsive img-box img-thumbnail"), post %> 
</div> 
<div class="col-xs-12 col-sm-9 col-md-9">
  <div class="list-group">
    <div class="list-group-item">
      <div class="row-content">
        <small>
          <span><i class="fa fa-comment"></i> <a target="_blank" alt="comments" title="comment"><%= post.comments.size %></a></span> | 
          <%= post.updated_at.strftime('%Y/%m/%d') %> by  
          <i class="fa fa-pencil" aria-hidden="true"></i> <%= post.user.name %>
        </small>
         <div class="btn-group-vertical" style="float: right">
          <%= link_to t('.edit_link'), edit_post_path(post), class: "btn btn-warning", style: "color: white;margin-bottom: 5px" %>
          <%= link_to t('.destroy_link'), post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
        <h3><%= link_to post.title, post, class: "title" %></h3>
        <h6 class="category">Web Developing</h6>
        <% post.topic_list.each do |topic| %>
          <span class="label_min"><%= topic %></span>
        <% end %>
        <p><%= post.header %></p>
      </div>
      <hr>
    </div>
  </div>
</div>