<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-shadow">
  <a class="navbar-brand" href="/">MyBlogPost</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% @categories.each do |category|%>
        <li class="nav-item">
          <%= link_to category.name, category, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> <%= current_user.name %></a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-features" aria-labelledby="navbarDropdownMenuLink">       
            <%= image_tag(current_user.avatar.avatar.url, class: "dropdown-avatar")%>
            <h6 style="font-weight: bold;margin-top: 10px"><%= current_user.name %></h6>
            <h6><%= current_user.email %></h6>  

            <a class="dropdown-item nav-dropdownitem" href="#">
              <i class="fa fa-cog" aria-hidden="true"></i>
              Settings
            </a>
            <a class="dropdown-item nav-dropdownitem" data-method="delete" href="/users/sign_out">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Log out
            </a>
          </div>
        </li>  
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in"> Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_up"> Sign up</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>